
.tabber {
	padding: 0px; 
	margin: 0px 0px 0px;
	margin-left: 2px;
	font: 11px Verdana, Arial, sans-serif; 
	display: block;
	background: url(/images/tabbottom.gif) repeat-x; 

}
.tabber UL {
	padding-right: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	margin: 0px; 
	padding-top: 0px; 
	list-style-type: none; 
	height: 20px
}
#tabExpand {
	margin-right: 5px;
	float: right;
	margin-top: 1px;
}
HTML > #tabExpand {
	margin-top: 4px;
}
.tabber LI {
	padding-right: 0px; 
	display: inline; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	margin: 0px; 
	padding-top: 0px
}
.tabber LI A {
	padding-right: 0px; 
	padding-left: 4px; 
	background: url(/images/tableft.gif) no-repeat left top; 
	float: left; 
	padding-bottom: 0px; 
	margin: 0px; 
	color: #627eb7; 
	padding-top: 0px; 
	text-decoration: none
}
.tabber LI A SPAN {
	padding-right: 7px;
	display: block; 
	padding-left: 1px; 
	background: url(/images/tabright.gif) no-repeat right top; 
	float: left; 
	padding-bottom: 5px; 
	color: black; 
	padding-top: 3px
}
.tabber LI A SPAN {
	float: none
}

.tabberright {
	font: 11px Verdana, Arial, sans-serif; 
	float: right;
	padding-right: 10px;
	margin-top: 1px;
}
HTML > .tabberright {
	margin-top: 4px;
}

.tabber DIV A{
	background: none;
}
.tabber LI A:hover {
	background-position: 0% -42px
}
.tabber LI A:hover SPAN {
	background-position: 100% -42px
}
.tabber LI .tabberHi {
	background-position: 0% -42px
}
.tabber LI .tabberHi SPAN {
	background-position: 100% -42px
}
#tabberpage
{
	border: 1px solid #cdcdcd;
	border-top: none;
	padding: 8px; 
	font: 11px Verdana, Arial, sans-serif; 
	margin: 0px 2px 2px 2px;	
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#ff333333, Strength=1, Direction=135); 
	display: block;
	background-color: #fff;
}
html>body #tabberpage
{
	border-bottom: thin outset;
	border-right: thin outset;
	-moz-box-sizing: border-box;
}
.plainpage{
	zoom: 1;
	display: block;
	font: 11px Verdana, Arial, sans-serif; 
	background-color: #fff;
	padding: 8px; 
	border: 1px solid #cdcdcd;
	margin-bottom: 5px;
}
div.plainTitle{
	border: 1px solid #C0C0C0;
	border-bottom: none;
	background-color: #CDCDCD;
	background-image: url(/images/GridTitleBg.gif);
	background-repeat: repeat-x;
	background-position: top;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding: 2px 1px 1px 3px;
}