<style>
.GridTitlePrint
{
	border : 1px solid #C0C0C0;
	border-bottom: 1px solid black;
	background-color: #A3C7ED;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : left;
	height: 18px;
}
.GridItemPrint{
	border-right : 1px solid #F2F2F2;
	background-color: #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
.GridItemAlternPrint{
	border-right : 1px solid #FFFFFF;
	background-color: #F2F2F2;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
</style>