<!-- Web.Config Configuration File -->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="system.web">
			<section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler, Brettle.Web.NeatUpload" allowLocation="true"/>
		</sectionGroup>
	</configSections>
	<location path="loadcsv.aspx">
		<system.web>
			<neatUpload useHttpModule="true"/>
			<httpRuntime maxRequestLength="1024" executionTimeout="3600"/>
		</system.web>
	</location>
	<system.web>
		<browserCaps>
			<!-- 
			Name:		BrowserCaps update for modern browsers, http://slingfive.com/pages/code/browserCaps/
			Author:		Rob Eberhardt, http://slingfive.com/
			History:
				2004-11-19	improved detection of Safari, Konqueror & Mozilla variants, added Opera detection
				2003-12-21	updated TagWriter info
				2003-12-03	first published
			-->
			<!-- GECKO Based Browsers (Netscape 6+, Mozilla/Firefox, ...) //-->
			<case match="^Mozilla/5\.0 \([^)]*\) (Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))?">
				browser=Gecko
				<filter>
					<case match="(Gecko/[-\d]+)(?'VendorProductToken' (?'type'[^/\d]*)([\d]*)/(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*)))">
						type=${type}
					</case>
					<case>
						<!-- plain Mozilla if no VendorProductToken found -->
						type=Mozilla
					</case>
				</filter>
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="rv:(?'version'(?'major'\d+)(?'minor'\.\d+)(?'letters'\w*))">
					version=${version}
					majorversion=0${major}
					minorversion=0${minor}
					<case match="^b" with="${letters}">
						beta=true
					</case>
				</case>
			</case>
			<!-- AppleWebKit Based Browsers (Safari...) //-->
			<case match="AppleWebKit/(?'version'(?'major'\d?)(?'minor'\d{2})(?'letters'\w*)?)">
				browser=AppleWebKit
				version=${version}
				majorversion=0${major}
				minorversion=0.${minor}
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
				<case match="AppleWebKit/(?'version'(?'major'\d)(?'minor'\d+)(?'letters'\w*))(.* )?(?'type'[^/\d]*)/.*( |$)">
					type=${type}
				</case>
			</case>
			<!-- Konqueror //-->
			<case match=".+[K|k]onqueror/(?'version'(?'major'\d+)(?'minor'(\.[\d])*)(?'letters'[^;]*));\s+(?'platform'[^;\)]*)(;|\))">
				browser=Konqueror
				version=${version}
				majorversion=0${major}
				minorversion=0${minor}
				platform=${platform}
				type=Konqueror
				frames=true
				tables=true
				cookies=true
				javascript=true
				javaapplets=true
				ecmascriptversion=1.5
				w3cdomversion=1.0
				css1=true
				css2=true
				xml=true
				tagwriter=System.Web.UI.HtmlTextWriter
			</case>
			<!-- Opera //-->
			<case match="Opera[ /](?'version'(?'major'\d+)(?'minor'\.(?'minorint'\d+))(?'letters'\w*))">
				<filter match="[7-9]" with="${major}">
					tagwriter=System.Web.UI.HtmlTextWriter
				</filter>
				<filter>
					<case match="7" with="${major}">
						<filter>
							<case match="[5-9]" with="${minorint}">
								ecmascriptversion=1.5
							</case>
							<case>
								ecmascriptversion=1.4
							</case>
						</filter>
					</case>
					<case match="[8-9]" with="${major}">
						ecmascriptversion=1.5
					</case>
				</filter>
			</case>
		</browserCaps>
		<globalization fileEncoding="iso-8859-1" requestEncoding="utf-8" responseEncoding="utf-8"/>
		<customErrors defaultRedirect="/Error/waitplease.htm" mode="Off" />
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="false"/>
		<sessionState stateConnectionString="tcpip=localhost:42424" cookieless="false" />
		<pages smartNavigation="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"/>
		<authentication mode="Windows"/>
		<authorization>
			<!-- invert for directory integrated integrated -->
			<allow users="*"/>
			<!-- <deny users="?" /> -->
		</authorization>
		<httpModules>
			<add name="TustenaCompress" type="Digita.Tustena.Compress.Module, TustenaCompress"/>			
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule, Brettle.Web.NeatUpload" />
		</httpModules>
		<httpRuntime maxRequestLength="10240" useFullyQualifiedRedirectUrl="true" executionTimeout="45"/>		
    <neatUpload useHttpModule="false" maxNormalRequestLength="4096" maxRequestLength="2097151" defaultProvider="FilesystemUploadStorageProvider">
      <providers>
        <add name="FilesystemUploadStorageProvider"
     type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload"
     />
      </providers>
    </neatUpload>
		<compilation defaultLanguage="c#" debug="true"/>
		<xhtmlConformance mode="Legacy"/></system.web>
	<location path="DataStorage/DataStorage.aspx">
		<system.web>
			<neatUpload useHttpModule="true"/>
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		</system.web>
	</location>
	<location path="WorkingCRM/AllActivity.aspx">
		<system.web>
			<neatUpload useHttpModule="true"/>
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		</system.web>
	</location>
	<location path="Admin/loadcsv.aspx">
		<system.web>
			<neatUpload useHttpModule="true"/>
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		</system.web>
	</location>
	<location path="Catalog/CatalogProducts.aspx">
		<system.web>
			<neatUpload useHttpModule="true"/>
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		</system.web>
	</location>
	<location path="Estimates/QuoteActivity.ascx">
		<system.web>
			<neatUpload useHttpModule="true"/>
			<httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
		</system.web>
	</location>
	<appSettings>
  <add key="Connection" value="Data Source=127.0.0.1;Initial Catalog=TustenaOS;Integrated Security=SSPI;Connect Timeout=20;Connection Reset=false;Network Library=dbmssocn;" />
    <add key="SQLEXPRESS_CONNECTION" value="Data Source=.\tustena;Initial Catalog=TustenaOS;Trusted_Connection=yes" />
    <!-- Your Connection String -->

    <!-- Maximum number of result for the search -->
    <add key="MaxResult" value="100" />

    <!-- Tustena supported languages -->
    <add key="SupportedLanguages" value="it;en;es;tr;uk"/>
    <add key="SupportedLanguagesDescription" value="Italiano|it-IT;English|en-GB;Espanol|es-ES;Turkish|tr-TR;Ukranian|uk-UA"/>

    <!-- Debug mode (developers only) -->
    <add key="Mode" value="1" />

    <add key="Dns1" value="213.92.5.54" />
    <add key="Dns2" value="213.140.2.12" />

    <!-- Spool options: direct, mssmtp, xmail -->
    <add key="SpoolFormat" value="direct" />

    <!-- Spool directories:
 	 - direct: not needed
 	 - mssmtp: c:\inetpub\mailroot\pickup
 	 - xmail : c:\xmail\mailroot\spool\local
    -->
    <add key="MailSpoolPath" value="" />

    <!-- Use only with the ServiceSpoolManager add-on -->
    <add key="UseSpoolService" value="0" />
    <add key="MailMailingPath" value="c:\xmail\TustenaSpooler\" />

    <!-- Tustena robot mail address (the from address for all the Tustena autogenerated emails) -->
    <add key="TustenaMainMail" value="" />

    <!-- Tustena mail address for debug (usefull to receive debug informations) -->
    <add key="TustenaErrorMail" value="" />

    <!-- SMTP configuration -->
    <add key="SMTPServer" value="yourmailserver" />
    <add key="SMTPPort" value="25" />
    <add key="SMTPAuthRequired" value="1" />
    <!-- 0: none 1: required -->
    <add key="SMTPUser" value="youremail@yourdomain.com" />
    <add key="SMTPPassword" value="yourpassword" />

    <!-- NeatUpload config -->
    <add key="NeatUpload.MaxNormalRequestLength" value="409600" />
    <add key="NeatUpload.DefaultTempDirectory" value="c:\tustena\NeatUploadTemp" />

    <!-- Path for storage (MUST exists)-->
    <add key="DataStoragePath" value="c:\tustena\docs" />
    <!-- Not used -->
    <add key="Precompile" value="1" />

    <!-- Timer page (change localhost with your server name if Tustena won't respond to localhost)-->
    <add key="TimerPagePath" value="http:/localhost/timer.aspx" />

    <add key="SetupDate" value="04/09/2005" />
 </appSettings>
</configuration>
