<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <deviceFilters>
		<filter name="isJPhone" compare="Type" argument="J-Phone" />
		<filter name="isHTML32" compare="PreferredRenderingType" argument="html32" />
		<filter name="isWML11" compare="PreferredRenderingType" argument="wml11" />
		<filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10" />
		<filter name="isGoAmerica" compare="Browser" argument="Go.Web" />
		<filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer" />
		<filter name="isMyPalm" compare="Browser" argument="MyPalm" />
		<filter name="isPocketIE" compare="Browser" argument="Pocket IE" />
		<filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser" />
		<filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser" />
		<filter name="isEricssonR380" compare="Type" argument="Ericsson R380" />
		<filter name="isNokia7110" compare="Type" argument="Nokia 7110" />
		<filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif" />
		<filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp" />
		<filter name="supportsColor" compare="IsColor" argument="true" />
		<filter name="supportsCookies" compare="Cookies" argument="true" />
		<filter name="supportsJavaScript" compare="Javascript" argument="true" />
		<filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true" />
    </deviceFilters>
	<mobileControls allowcustomattributes="true">
	<device name="MyDeviceAdapters" inheritsFrom="HtmlDeviceAdapters">
		<control name="System.Web.UI.MobileControls.Form" adapter="MyAdapters.MyFormAdapter, Tustena" />
		<control name="System.Web.UI.MobileControls.ObjectList" adapter="MyAdapters.MyHtmlObjectListAdapter, Tustena" />
	</device>
	<device name="MyWapDeviceAdapters" inheritsFrom="WmlDeviceAdapters">
		<control name="System.Web.UI.MobileControls.ObjectList" adapter="MyAdapters.MyWmlObjectListAdapter, Tustena" />
	</device>
</mobileControls>
	<compilation defaultLanguage="c#" debug="true"/>
 </system.web>

</configuration>
