
<hr noshade>
<table border="0" cellpadding="2" cellspacing="0" width="700">
<tr><td>
<font face="verdana,arial" size="1">Powered by <strong><a href="http://www.tustena.com" target="_top" style="text-decoration:underline">Tustena CRM</a>&#153;</strong></font><br>
<font face="verdana,arial" size="1">This email was sent to: to@to.to <br>From: %COMPANY%, %ADDRESS%, %CAP%, %COUNTRY%, %STATE% <br><br><a href="http://crm.tustena.com/mailinglist/update.aspx?render=no&a=remove&e=Tustena.refid&c=%COMPANYID%&m=%MLID%">(REMOVE)</a> to be instantly deleted from this list.<br></font><font face="verdana,arial" size="1">
<font face="verdana,arial" size="1"><a href="http://crm.tustena.com/mailinglist/update.aspx?render=no&a=abuse&e=Tustena.refid&c=%COMPANYID%&ml=%MLID%">(REPORT ABUSE)</a> and remove me from the list.<br></font></td></tr></table>
<p><img src="http://crm.tustena.com/mailinglist/update.aspx?a=stats" alt="" height="0" width="0"></p>