		<table width="573" cellpadding=0 cellspacing=0 border=0 class=normal>
			<tr>
				<td valign=top>
					<img src="Tustena.Logo" border=0>
					
				</td>
			</tr>
			<tr>
				<td valign=top style="BORDER-BOTTOM: black thin solid;padding-top:20px;">
					<table width="50%" cellpadding=0 cellspacing=5 border=0 class=normal>
						<tr>
						<td width="1%" nowrap >Spett.le</td>
						<td>Tustena.CompanyName</td>
						</tr>
						<tr>
						<td width="1%" nowrap >&nbsp;</td>						
						<td>Tustena.Address</td>
						</tr>
						<tr>
						<td width="1%" nowrap >&nbsp;</td>						
						<td>Tustena.ZipCode&nbsp;Tustena.City</td>
						</tr>
						<tr>
						<td width="1%" nowrap >&nbsp;</td>						
						<td>Tustena.Province&nbsp;Tustena.Nation</td>
						</tr>	
						<tr>
						<td width="1%" nowrap >&nbsp;</td>						
						<td>All'attenzione di Tustena.Contact</td>
						</tr>
					</table>																				
				</td>
			</tr>
			<tr>
				<td valign=top style="BORDER-BOTTOM: black thin solid;padding-top:15px;">
					Tustena.EstimateRows
				</td>
			</tr>
			<tr>
				<td valign=top style="BORDER-BOTTOM: black thin solid;padding-top:15px;">
					[content0]
				</td>
			</tr>
			<tr>
				<td style="BORDER-BOTTOM: black thin solid;padding-top:15px;">
					Note
				</td>
			</tr>
			<tr>
				<td>
					Tustena.EstimateNotes
				</td>
			</tr>
		</table>